*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.img_status{
    width: 50px;
}

html{
  background-color: #0b131e;
}

.master_container{
    height: 100vdh;
    width: 100vdw;
    background-color: #0b131e;
    color: #f5f4f3;
    display: flex;
}

.container_A, .container_B{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

a{
    color: #f5f4f3;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    width: 10%;
}

a:hover{
    color: #0195ff;
    transition: all 0.3s ease;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0);
    width: 100%;
    height: 50px;
    transition: all 0.3s ease;
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: #333;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-container button i {
    font-size: 20px;
    color: #333;
}

.container_A_sub{
    display: flex;
    padding: 30px;
    gap: 50%;
    align-items: center;
}

.container_A_sub_B img{
    padding-top: 20px ;
    transform: scale(4);
}

.forecast{
    background-color: #202b3b;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.forecast_A, .air_count h5{
    width: 100%;
    height: 20%;
    margin: 10px;
    padding: 10px;
}

.forcast_B{
    width: auto;
    height: 80%;
    margin: 10px;
    padding: 10px;
}

.forecast_B_section{
    display: flex;
    justify-content: space-around;
}

.air_count{
    background-color: #202b3b;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.air_layout{
    display: flex;
    justify-content: space-around;
}
.air_count_section1, .air_count_section2, .air_count_section3{
    padding: 10px;
    display: flex;
}

.air_count_section_sub_a img{
    width: 100px;
}

.sun{
    background-color: #202b3b;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 45%;
}

.sunrise{
    width: 100%;
    height: 150px;
    background: url(sunrise.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 25px;
    background-repeat: no-repeat;
    display: flex;
    padding: 10px;
}

.sunset{
    width: 100%;
    height: 150px;
    background: url(sunset.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    background-repeat: no-repeat;
    display: flex;
    padding: 10px;
}

.sunrise_suba, .sunset_suba{
    padding-top: 30px;
}

.sunrise_subb, .sunset_subb{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr{
    width: 60%;
    border-radius: 10px;
    border: 2px solid #f5f4f3;
}

.sunrise img, .sunset img{
    width: 90px;
}

.quote{
    border: 3px solid #202b3b;
    background-color: #0b131e;
    border-radius: 25px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size{
    width: 30%;
}

.form_items{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px){
    .master_container{
        flex-direction: column;
    }

    .img_status{
        transform: scale(0.8);
    }

    .container_A, .container_B{
        width: auto;
        height: 50%;
    }

    .container_A_sub_B img{
        transform: scale(2.5);
    }

    .container_A_sub img{
        width: 50px;
    }

    .air_layout{
        flex-direction: column;
    }

    .air_count_section1, .air_count_section2{
        padding: 20px;
        justify-content: space-between;
        text-align: right;
    }

}