*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}


.master{
    width: 100vw;
    height: 100vh;
    background-image: url('src/pc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.master_block_A{
    padding: 10px;
    width: 30%;
    height: 80%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 5px;
}

.master_block_B{
    padding: 10px;
    width: 60%;
    height: 80%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 5px;  
}

form{
    padding: 10px;
    display: flex;
    justify-content: left;
    gap: 5px;
}

.image{
  background-image: url("src/location.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 15px; 
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input:focus{
    background-color: black;
    color: #c1c1c1;
}

input{
    width: 100%;
    border-radius: 40px 0px 0px 40px;
    border: 5px;
    outline: none;
    padding: 10px;
}

@media screen and (max-width: 768px){
    .master{
        background-image: url('src/mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -150px;
        flex-direction: column;
    }

    .master_block_A{
        width: 90%;
        height: 30%;
    }

    .master_block_B{
        width: 90%;
        height: 60%;
    }
}